@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro-Regular.woff");
}
@font-face {
	font-family: "MyriadPro-It";
	src: url("../fonts/MyriadPro-It.woff");
}
@font-face {
	font-family: "MyriadPro-Semibold";
	src: url("../fonts/MyriadPro-Semibold.woff");
}
@font-face {
	font-family: "MyriadPro-Bold";
	src: url("../fonts/MyriadPro-Bold.woff");
}

@mixin myriadPro($style) {
	@if $style == regular {
		font-family: "MyriadPro-Regular", sans-serif;
	}
	
	@if $style == italic {
		font-family: "MyriadPro-It", sans-serif;
	}

	@if $style == semibold {
		font-family: "MyriadPro-Semibold", sans-serif;
	}

	@if $style == bold {
		font-family: "MyriadPro-Bold", sans-serif;
	}
}